.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container .upload-section {
  border: 1px dashed #748aa1;
  text-align: center;
  padding: 18px;
  border-radius: 3px;
  min-height: 50px;
  min-width: 350px;
  margin-bottom: 30px;
}

.browse-button {
  font-weight: 700;
  font-size: 14px;
  color: #33a02c !important;
  background-color: #fff !important;
  border: none;
}

.play-pause-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
